<footer>
	<div class="container-fluid footer">
		<div class="row d-flex justify-content-center">
			<div class="col-md-12">
				<h3>About Us</h3>
				<p>9jaFrozenfoods is a food company that offers convenience for the people of Bulgaria. Located within Sofia, we have a great supply chain for the benefits of lovers of frozen foods. We work according to the hygienic standards stipulated for the food industry.</p>
				<span> <span class="material-icons">place</span>Sofia, Bulgaria</span>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
				<span>To place an order <span class="material-icons">call</span> +234 908 1707 267 </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
				<span class="material-icons">email</span> <span>hello@9jafrozenfoods.com</span>
				</div>
				<div class="col-md-4 mt-3">
				<h3>Company</h3>
				<ul>
					<li><a href="/about"> About Us </a></li>
					<li><a href="/contact"> Contact </a></li>
					<li><a href="#"> Livechat</a></li>
					<li><a href="/faq"> FAQ </a></li>
				</ul>
			</div>
				<div class="col-md-4 mt-3">
				<h3>9jafrozenfoods Policy</h3>
				<ul>
					<li><a href="/returnpolicy">Return Policy</a></li>
					<li><a href="/deliverypolicy">Delivery Policy</a></li>
					<li><a href="/privacypolicy">Privacy Policy</a></li>
					<li><a href="/termsofservice">Terms of Service</a></li>
				</ul>
			</div>
			<div class="col-md-4 mt-3" >
				<h3>Accepted Payment Methods</h3>
					<span><img src="/images/verve.svg" alt="" class="payment"></span>
					<span><img src="/images/mastercard2.svg" alt="" class="payment"></span>
					<span><img src="/images/visa.svg" alt="" class="payment"></span>
					<img src="/images/ff-logo.png" alt="" class="mt-3" width="200px" height="110px">
			</div>
		</div>
		
		<div class="col-md-12 text-center" >
			<ul class="list-inline">
			  <li class="list-inline-item"><img src="/images/fb.svg" width="50px"></li>
			  <li class="list-inline-item"><img src="/images/insta.svg" width="50px"></li>
			  <li class="list-inline-item"><img src="/images/whatsapp.svg" width="50px"></li>
			</ul>
		</div>

		<div class="col-12 pb-1">
			<p class="text-center">Copyright&copy; 2025 9jafrozenfoods. All Rights Reserved.</p>
		</div>		
	</div>
</footer>
