<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>9jafrozenfoods</title>
    <link rel="stylesheet" href="/admin.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=menu" />
</head>
<body>
  <div class="wrapper">
    <aside class="sidebar" id="admin-sidebar">
      <div class="sidebar-logo"><img src="/images/ff-logo-1.png" alt="" class="img-fluid" width="200px" height="150px"></div>
      <ul class="sidebar-nav">
      <li><a href="/admin/dashboard"><span><i class="bi bi-speedometer"></i></span> Dashboard</a></li>
      <li><a href="/admin/profile"><span><i class="bi bi-person-circle"></i></span> Profile</a></li>
      <li><a href="/admin/users"><span><i class="bi bi-people-fill"></i></span> All Users</a></li>
      <li><a href="/admin/roles"><span><i class="bi bi-person-rolodex"></i></span> Manage Roles</a></li>
      <li><a href="/admin/products"><span><i class="bi bi-bag-check-fill"></i></span> Manage Products</a></li>
      <li><a href="/admin/orders"><span><i class="bi bi-receipt-cutoff"></i></span> Orders</a></li>
      <li><a href="/admin/settings"><span><i class="bi bi-gear-fill"></i></span> Settings</a></li>
      <li>
        <a href="/admin/notifications">
          <span><i class="bi bi-bell-fill"></i></span> Notifications
          {{#if admin.unreadCount}}
            <span class="badge badge-danger">{{admin.unreadCount}}</span>
          {{/if}}
        </a>
      </li>
       <li><a href="/admin/logout"><span><i class="bi bi-box-arrow-right"></i></span> Logout</a></li>
  </ul>
  </aside>
  </div>

</body>
</html>