{{> mainHeader}}
{{> navbar}}

	<h2 class="myacct">Home / About</h2>
	<hr>
	
    <div class="container about">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <p class="about-Text">
                    9jafrozenfoods is a food company that offers convenience for the people of Bulgaria. Located within Sofia, we have a great supply chain for the benefits of lovers of frozen foods. We work according to the hygienic standards stipulated for the food industry.
                    We have a range of local naija products and consumables for every customer. We have very clean and hygienic products because we value the health of our users. Our range of collection also includes healthy alcoholic bitters for your consumption.
                    9jafrozenfoods is a tested and trusted eCommerce store that has gained the trust of both Nigerians and natives of Sofia.
                
                </p>
            </div>
             <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="/images/aboutbanner.jpg" alt="" class="img-fluid">
            </div>
        </div>       
    </div>
