{{> mainHeader}}
{{> navbar}}
      
{{!-- Banner--}}
<section>
	<div class="container banner-show">
		<div class="row">
			<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
				<div class="animated-title">
					<div class="text-top2">
					  <div>
						  <ul>
							  <li>
								<span>No 1</span>
								<span>Online store</span>
							  </li>
						  </ul>
					  </div>
					</div>
					<div class="text-bottom2">
						<div>
							<ul>
								<li>
									<span class="bottomtext">For 9ja People</span>
								</li>
							</ul> 
							
							</div>
				
					</div>
				  </div>
				  <button type="submit" class="cta w-50" href="/shop"> Shop Now</button>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mt-5">	
				<img src="/images/50.png" alt="" width="650px" height="500px">
			</div>
		</div>
	</div>
</section>

{{!--Jumbotron--}}
<section>
<div class="jumbotron p-4 mt-5">
  <h1 class="display-4">Dear Esteemed Buyers <span class="material-icons">local_mall</span> </h1>
  <p class="lead">We are committed to providing hygienic food items and excellent service delivery. Do you want to know if we deliver to your city? <br>
  Home Delivery is available for the following locations</p>
  <hr class="my-4">
  <small>Balsha, Bankya, Bistritsa, Botunets, Boyana, Buhovo, Busmantsi, Chelopechene, Chepintsi, Dobroslavci, Dolni Bogrov, Dragalevtsi, German, Gorna Banya, Gorni Bogrov, Gorublyane, Iliyantsi, Ivanyane, Jiten, Katina, Kazichene, Kokalyane, Kremikovtzi, Krivina, Kubratovo, Lokorsko, Lozen, Marble, Mirovenie, Murchaevo, Negovan, Novi Iskar, Pancharevo, Passarelle, Philipovtsi, Podgumer, Seslavci</small>
	<img src="/images/logo_white.png" alt="" class="img-fluid ml-auto logo_white mt-4" >
</div>
</section>

{{!-- Cards container--}}
<section class="cards-bg">
	<div class="container bg-products">
		<h2 class="foodcategory">Food Items and Alcoholic Bitters</h2>
	    	<div class="row d-flex">
{{!--Card Rendering---}}
 {{!-- <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 d-flex justify-content-center" id="listpage">
	<div class="card mt-3">
		<div class="eachitem justify-content-center align-items-center p-2">
		   <div class="d-flex">
			   <h5 class="mt-1">Full Chicken </h5>
			   <div class="heart"></div> 
		   </div>
			<img src="/images/fullchicken.jpg" alt="fooditem-1" class="img-fluid" id="iWant">
		</div>

		<div class="cost mt-3 text-dark">
			<span>15 <img src="/images/bulgarian-lev.png" alt=""></span>
		</div>

		<div class="p-3 foodItem text-center mt-3">
			<a class="text-uppercase add-to-cart cart" href="#" id="addIt">Add to cart</a> <span class="material-icons">shopping_cart</span>  
		</div>
	</div>
</div>  --}}

{{!----Card Rendering ends----}}



</div>
</div> 

<div class="container-fluid d-flex justify-content-center align-items-center">
	<div class="row ">
		<div class="col-12 ">
			<span class="material-icons arrowBtn">keyboard_double_arrow_left</span>
			<a href="/shop"><span class="material-icons arrowBtn">keyboard_double_arrow_right</span></a>	
		</div>
	</div>
</div>
</section>




{{!-- Review --}}
<section id="reviewBanner">
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
        <div class="d-block w-100 icon-overlay" height="500px" ></div>
      <div class="carousel-caption d-lg-block d-md-block d-sm-block">
		  	<h2 class="review">What Our Clients are Saying</h2>
        <blockquote class="blockquote"><p>"9jafrozenfoods is the number one store for local naija products. I am impressed with their service delivery and products."</p> </blockquote>
		 <h5>Bunmi Olaoye</h5>
      </div>
    </div>
    <div class="carousel-item">
     <div class="d-block w-100 icon-overlay" height="500px" ></div>
         <div class="carousel-caption d-lg-block d-md-block d-sm-block">
		  	<h2 class="review">What Our Clients are Saying</h2>
        <blockquote class="blockquote"><p>"I searched for a website that sells Nigerian food items and I found 9jafrozenfoods. They sell hygienic foods"</p> </blockquote>
		 <h5>Stephanie Adejoh</h5>
      </div>
    </div>
    <div class="carousel-item">
        <div class="d-block w-100 icon-overlay" height="500px" ></div>
          <div class="carousel-caption d-lg-block d-md-block d-sm-block">
		  	<h2 class="review">What Our Clients are Saying</h2>
        <blockquote class="blockquote"><p> "If you are looking for a standard frozen foodstore in Sofia, 9jafrozenfoods got you covered. They are the best!"</p></blockquote>
	     <h5>Kathryn Paulina</h5>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</section>
{{!--Review ends--}}



