{{> mainHeader}}
{{> navbar}}

<div class="container my-5 d-flex flex-column col-6 align-items-left justify-content-center" style="height: 50vh;">
  <h2>Reset Your Password</h2>
  <form action="/auth/resetpassword/{{token}}" method="POST">
    <div class="form-group">
      <label for="password">New Password</label>
      <input type="password" name="password" class="form-control" required minlength="8">
    </div>
    <button type="submit" class="btn btn-success mt-3">Reset Password</button>
  </form>
</div>
