{{> mainHeader}}
{{> navbar}}
{{!--Cards Rendering--}}
<section class="cards-bg" id="shop-bg">
	<div class="container bg-products mt-1">
		<h2 class="foodcategory">All Products</h2>
		<div class="row">
			
{{!--Card info--}}
{{!-- <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 d-flex justify-content-center">
	<div class="card mt-3">

		<div class="product-1 align-items-center p-2">
		   <div class="d-flex">
			   <h5 class="mt-1">Full Chicken </h5>
			   <div class="add-to-wishlist">
				   <span class="material-icons">favorite_border</span>
			   </div>
		   </div>
			<img src="/images/fullchicken.jpg" alt="fooditem-1" class="img-fluid">
		</div>

		<div class="cost mt-3 text-dark">
			<span>15 <img src="/images/bulgarian-lev.png" alt=""></span>
		</div>

		<div class="p-3 foodItem text-center mt-3">
			<a class="text-uppercase cart1 add-cart" href="#" >Add to cart</a> <span class="material-icons">shopping_cart</span>  
		</div>
	</div>
</div>
<!------------------------------------card info ends--------------------------->			 	


</section> --}}
 

<!-------------------------------------All Products ends-------------------------------------->
</div>
</div>

<div class="container-fluid d-flex justify-content-center align-items-center">
	<div class="row ">
		<div class="col-12 ">
			<a href="/"><span class="material-icons arrowBtn">keyboard_double_arrow_left</span></a>
			<span class="material-icons arrowBtn">keyboard_double_arrow_right</span>
		</div>
	</div>
</div>
</section>
