{{> mainHeader}}
{{> navbar}}
	<h2 class="myacct">Home / My Wishlist</h2>
	<hr>
	<div class="container wishlist-container wishlist-products " style="height:100vh">
	  <div class="row" id="wishlist-container">
      {{!products goes in here}}
    </div>
	</div>


